#calculator-container {
    border: 5px solid black;
    width: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#display-container {
    height: 50px;
    border: 2px solid lightblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

div #past {
    border: 1px solid lightsteelblue;
    font-size: 15px;
}

div #current {
    border: 1px solid black;
    font-size: 25px;
}

#top-buttons {
    display: flex;
    justify-content: space-between;
    text-align: center;
}


#button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#number-container {
    display: grid;
    flex: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: center;
}

#number-container div:hover,
#top-buttons div:hover,
#operator-container div:hover {
    background: lightgray;
}

#operator-container {
    display: flex;
    flex-flow: column-reverse;
    gap: 10px;
}

#operators {
    display: flex;
    flex-flow: column-reverse;
    gap: 5px;
}